{% extends 'base.html' %}
{% block content %}
<nav class="navigation" id="nav">
    <div class="toggle">
        <button class="button" id="menu-button" title="Menu">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <p><a href="{{ url_for('mainapp.index') }}">Riri<span>Njaramba</span></a></p>
    </div>
    <div class="items">
        <nav>
            <ul>
                <li><a href=""></span></a></li>
                <li id="service"><p>Services</p></li>
                <li id="project"><p>Projects</p></li>
                <li><a href="{{ url_for('blogs.blog_index') }}">Blogs</a></li>
                <li id="quote"><p>Get a Quote</p></li>
                {%  if current_user.is_anonymous %}
                    <li id="account?"><a href="{{ url_for('auth.signin') }}">Login</a></li>
                {% else %}
                    <li id="account"><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>        
</nav>
{% block js %}
{{ super() }}
    <script>
        const buttonMenu = document.querySelector("#menu-button");
        const rootElement = document.documentElement;
        const home = document.getElementById('home');

        buttonMenu.addEventListener('click', (e) => {
            rootElement.toggleAttribute('sidebar-open');
        })
        buttonMenu.addEventListener('mouseover', () =>{
            this.title = 'Close'
        })

        home.addEventListener('click', () => {
            window.location.href = "{{ url_for('mainapp.index') }}"
        });

    </script>
{% endblock js %}
{% endblock %}
