<nav class="navigation" id="nav">
    <div class="toggle">
        <button class="button" id="menu-buttton" title="Menu">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <p><a href="{{ url_for('mainapp.index') }}">Riri<span>Njaramba</span></a></p>
    </div>
    <div class="items">
        <nav>
            <ul>
                <li><a href=""></span></a></li>
                <li id="service"><a href="{{ url_for('mainapp.index') }}#services">Services</a></li>
                <!-- <li id="project"><p>Projects</p></li> -->
                <!-- <li><a href="{{ url_for('blogs.blog_index') }}">Blogs</a></li> -->
                <li id="quote">
                    <a href="{{ url_for('mainapp.quote') }}">Get a Quote</a>
                </li>
                {% if current_user.can(permission.MODERATE_COMMENTS ) %}
                <li><a href="{{ url_for('blogs.moderate') }}">Moderate Comments</a></li>
                {% endif %}
                {%  if current_user.is_authenticated %}
                 <li id="dropdown"><a href="">{{ current_user.username | upper }}</a></li>
                 <li> <a href="{{ url_for('auth.logout') }}">Logout</a></li>
                    <!-- <ul>
                        <div class="pro">
                            <img src="{{ current_user.gravatar(100) }}" alt="">                            
                        </div>
                        <div class="menu" id="menu">
                           <li>
                                <a href="{{ url_for('users.user', username=current_user.username) }}">Profile</a>
                            </li>
                            <li><a href="">Edit Blog</a></li>
                            <li id="account?">
                                <a href="{{ url_for('auth.logout') }}">Logout</a>
                            </li>                            
                        </div>
                    </ul> -->
                {% endif %}
            </ul>
        </nav>
    </div>        
</nav>
