<div class="sidebar" id="sidebar">
    <header>
        <img src="{{ url_for('static', filename='images/riri.jpg')}}" alt="Njaramba">
        <div class="tags">
            <h3>MLOPs <span>|</span></h3>
            <h3>ML Engineering <span>|</span></h3>
            <h3>Python <span>|</span></h3> 
            <h3>Flask <span>|</span></h3>
            <h3>CSS <span>|</span></h3>
        </div>
    </header>
    <ul >
        <li>
            <a href="">
                <span>My CV</span>
                <ion-icon name="document-outline"></ion-icon>
            </a>
        </li>
        <li>
            <a href="">
                <span>Blogs</span>
                <ion-icon name="book-outline"></ion-icon>
            </a>
            </li>
        <li>
            <a href="">
                <span>Projects</span>
                <ion-icon name="laptop-outline"></ion-icon>
            </a>
        </li>
        <li>
            <a href="">
                <span>Get in touch</span>
                <ion-icon name="chatbubbles-outline"></ion-icon>
            </a>
            </li>
        <li>
            <a href="">
                <span>Resources</span>
                <ion-icon name="globe-outline"></ion-icon>
            </a>
        </li>
        <li>
            <a href="">
                <span>Theme</span>
                <ion-icon name="sunny-outline"></ion-icon>
            </a>
        </li>
    </ul>
</div>