{% extends 'base.html' %}
{% import 'macros/auth.html' as macro %}

{% block title %}Forgot Password - Riri Njaramba {% endblock %}

{% block content %}
{% include 'include/nav.html' %}
{% include 'include/sidebar.html' %}
<div class="auth">
    <div class="auth-form" id="text">
        <form class="form" action="{{ url_for('.forgotpass') }}" method="post">
            {{ macro.render(form) }}
            <div class="btn">
                <button type="submit" id="btn" class="submit-btn">
                    <span class="btn-text">Get Reset Instructions</span>
                    <div class="btn-loader">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </button>
            </div>
            <div class="register">
                <p>Take me to <a href="{{ url_for('.signin')}}">Login </a>instead.</p>
            </div>
        </form>
    </div>
    <div class="footer">
        <p>&copy;2024. <span>RiriNjaramba</span>&trade;. All rights reserved.</p>
        <p>Made with <i class="fa fa-fire"></i> and <i class="fa fa-heart"></i> by Riri.</p>
    </div>
</div>
{% endblock %}
{% block js %}
    {{ super() }}
{% endblock %}
