{% extends 'base.html' %}

{% block title %}Unconfirmed Account - Riri Njaramba {% endblock %}

{% block content %}
{% include 'include/nav.html' %}
{% include 'include/sidebar.html' %}
<div class="auth">
    <div class="unconfirmed">
        <h1>Hello {{ username }},</h1>
        <h3>Welcome and thank you for registering to my blog, kindly receive my warm welcome. </h3>
        <p>It's my hope that you'll gain the most from this platform, 
            and oh-- don't hesitate to contact me in case you want further clarification on the materials and resources discussed herein.
        </p>
        <p><strong>But before then, kindly confirm your account to have a smooth experience!. <i class="far fa-smile"></i></strong></p>
        <p>
            A confirmation email has just been sent to <strong>{{ email }}</strong>, further details are provided in the email.
        </p>
        <div class="resend">
            <p>Didn't receive the email?, 
                <a href="{{ url_for('.resend_confirmation_token') }}">Resend instructions.</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}