{% macro pagination_widget(pagination, endpoint) %}
    <ul class="paginaation">
        <li {% if not pagination.has_prev %} 
                class="disabled" 
            {% else %}
                class="item" data-url="{{ url_for(endpoint, page = pagination.page - 1, **kwargs) }}"
            {% endif %} >
                &laquo;
        </li>
        {% for p in pagination.iter_pages(left_edge=1, left_current=0, right_current=1, right_edge=0) %}
            {% if p %}
                {% if p == pagination.page %}
                    <li class="item" data-url="{{ url_for(endpoint, page = p, **kwargs) }}">
                        {{ p }}
                    </li>
                {% else %}
                    <li class="item" data-url="{{ url_for(endpoint, page = p, **kwargs) }}">
                        {{ p }}
                    </li>
                {% endif %}
            {% else %}
                <li class="disabled"><a href="#">&hellip;</a></li>
            {% endif %}
        {% endfor %}
        <li {% if not pagination.has_next %}  
            class="disabled" 
            {% else %}
                class="item" data-url="{{ url_for(endpoint, page = pagination.page + 1, **kwargs) }}"
            {% endif %}>
            &raquo;
        </li>
    </ul>
{% endmacro %}
