{% extends 'base.html' %}

{% block title %}{{ user.username }} Profile - Blog Author{% endblock %}

{% block content %}
{% include 'include/nav.html' %}
{% include 'include/sidebar.html' %}
<div class="users">
    <div class="user-details">
        <div class="profile">
            <div class="picture">
                {% if user.email %}
                    {% if user.is_administrator() %}
                        <img src="{{ url_for('static', filename='images/riri.jpg') }}" alt="">
                    {% else %}
                        <img src="{{ url_for('static', filename='images/user.png') }}" alt="">
                        <!-- <img class="img-rounded profile-thumbnail" src="{{ user.gravatar(size=256) }}" alt=""> -->
                    {% endif %}
                {% endif %}                
            </div>
            <div class="details">
                {% if user.is_administrator() %}
                    <p>Riri Njaramba.</p>
                {% else %}
                    <p>{{ user.username | title }}</p>    
                {% endif %}          
                {% if user.about %}
                    <p>{{ user.about | truncate(100, '---') }}</p>
                {% endif %}
                <p> Member since <span>{{ moment(user.created).format('LL') }}</span>.</p>
                <p>Last activity was <span>{{ moment(user.last_seen).fromNow() }}</span>.</p>                
            </div>
        </div>
        <hr>
        <div class="more">
            <p class="item" id="posts" title="Posts by {% if user.is_administrator() %} Riri Njaramba {% else%} {{ user.username | title }} {% endif %}">Posts <span># {{ posts | length }}</span></p>
            <p class="item" id="comments" title="Comments by {% if user.is_administrator() %} Riri Njaramba {% else%} {{ user.username | title }} {% endif %}">Comments <span># {{ replies | length }}</span></p>
            <p class="item" id="about" title="About {% if user.is_administrator() %} Riri Njaramba {% else%} {{ user.username | title }} {% endif %}">About</p>
        </div>
        <div class="posts" id="blogs">
            <h2>
                Posts by {% if user.is_administrator() %} Riri Njaramba. {% else%} {{ user.username }} {% endif %}
            </h2>
            {% if not posts %}
            <div class="replies">
               <p class="no-comm">
                    <span>{% if user.is_administrator() %} Riri Njaramba {% else%} {{ user.username | title }} {% endif %}</span>
                    does not have any posts by far.
                </p>                 
            </div>
            {% else %}
                {% for post in posts  %}
                    {% if post.post_html %}
                        <div class="post-card">
                            <div class="header">
                                <h3>{{ post.title }}</h3>
                                <p><i class="fa fa-classic fa-clock"></i>{{ moment(post.date_created).fromNow() }}</p> 
                            </div>
                            <p>{{ post.post_html | safe  | truncate(500) }}</p>
                            <p>
                                <a href="{{ url_for('blogs.blog', title=post.title)}}" title="Continue reading more about {{ post.title }}">
                                    Read more. <i class="fa fa-classic fa-arrow-right"></i>
                                </a>
                            </p>
                        </div>
                    {% else %}
                        <div class="post-card">
                            <h3>{{ post.title }}</h3>
                            <p>{{ post.post }}</p>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>   
        <div class="replies" id="replies">
            <h2>Comments by {% if user.is_administrator() %} Riri Njaramba {% else%} {{ user.username | title }}{% endif %}</h2>
            {% if not comments %}
                <p class="no-comm">
                    <span>{% if user.is_administrator() %} Riri Njaramba {% else%} {{ user.username | title }} {% endif %}</span>
                    does not have any comments by far.
                </p> 
            {% else %}
                {% for comment in comments %}
                    <p class="comm">
                        {{ comment.comment }}
                    </p>
                {% endfor %}
            {% endif %}
        </div>
        <div class="whome" id="whome">
            <h2>
                <span>About {% if user.is_administrator() %}Riri Njaramba {% else %} {{ user.username | title }} {% endif %}</span>
                {% if current_user.is_authenticated and current_user.id == user.id %}
                    {% if current_user.is_administrator() %}
                        <p id="upload">Update CV</p>
                        <p id="edit">Edit About [Admin]</p>
                    {% else %}
                        <p id="user-edit">Edit About</p>
                    {% endif %}
                {% endif %}
            </h2>
            <p>
                {% if not  user.about %}
                    {{ user.username }} have not uploaded information about professional summary, but you can check cv.
                {% else %}
                    {{ user.about }}
                {% endif %} 
            </p>
            <div class="form" id="about-update">
                <form action="{{ url_for('.user', username=current_user.username ) }}" method="post">
                    {{ about.hidden_tag() }}
                    {% for field in about %}
                        {% if field.widget.input_type != 'hidden' %}
                        <div class="field">
                            {{ field(class_='text-about', placeholder=field.label.text) }}
                        </div>
                        {% endif %}
                    {% endfor %}
                    <button type="submit" class="download">Update About</button>
                </form>                
            </div>
            <div class="upload" style="text-align: center;" id="cv">
                <form action="{{ url_for('.upload_file') }}" method="post" enctype="multipart/form-data" >
                    {% for field in form %}
                        {{ field }}
                    {% endfor %}
                    <button type="submit" class="download">Upload CV</button>
                </form>                
            </div>
            <div id="file-preview-modal" class="modal">
                <div class="modal-content">
                  <span class="close" onclick="closeModal()">&times;</span>
                   {% if user.is_administrator() %} 
                        <iframe id="file-preview-iframe" class="preview-frame" src="" data-url="/static/uploads/Resume`.pdf"></iframe>
                   {% else %}
                        <iframe id="file-preview-iframe" class="preview-frame"  src="" data-url=" "></iframe>
                        {{ user.username }} have not uploaded cv yet.
                  {% endif %}
                </div>
            </div>
            <button onclick="showPreview()" class="download">Preview CV</button>
            <button class="download" id="download" data-url="{{ url_for('.upload_file') }}">
                Download CV.
            </button>
        </div>     
    </div>
</div>
{% endblock %}

{% block js %}
    {{ super() }}
    {{ pagedown.include_pagedown() }}
    {{ moment.include_moment() }}
    <script>
        const userElements = ['posts', 'comments', 'about'];
        const contentElements = ['blogs', 'replies', 'whome'];
        const download = document.getElementById('download');
        const cv = document.getElementById("cv");
        const upload = document.getElementById("upload");
        const update = document.getElementById('edit');
        const about = document.getElementById('about-update');

        userElements.forEach((element, index) => {
            const clickableElement = document.getElementById(element);
            clickableElement.addEventListener('click', function(){
                userElements.forEach((otherElements) => {
                    const otherElement = document.getElementById(otherElements);
                    otherElement.classList.remove('active');
                });
                this.classList.add('active');

                contentElements.forEach((content) => {
                    const contentElement = document.getElementById(content);
                    if (content === contentElements[index]) {
                        contentElement.style.display = 'block';
                    } else {
                        contentElement.style.display = 'none';
                    }
                });

                // Save the active element to localStorage
                localStorage.setItem('activeElement', element);
            });
        });

        // Load the active section from localStorage when the page loads
        window.addEventListener('load', function() {
        const activeElement = localStorage.getItem('activeElement');
            if (activeElement) {
                document.getElementById(activeElement).click();
            }
        });

        update.addEventListener('click', function(){
            update.classList.toggle('clicked');
            if (about.classList.contains = 'active'){
                about.classList.toggle('active'); 
            }else{
                about.classList.toggle('active');
            }
        });

        upload.addEventListener('click', function(){
            upload.classList.toggle('clicked');
            if(cv.classList.contains = 'active'){
                cv.classList.toggle('active');
                download.classList.toggle('inactive');
            }
            
        });

        download.addEventListener('click', function(){
            url = download.dataset.url;
            window.location.href = url;
        });

        // Function to show the CV preview modal
        function showPreview() {
            var fileUrl = document.getElementById('file-preview-iframe').dataset.url; 
            document.getElementById('file-preview-iframe').src = fileUrl;
            
            document.getElementById('file-preview-modal').style.display = 'block';
        }

        function closeModal() {
            document.getElementById('file-preview-modal').style.display = 'none';
        }

        function enableDownload() {
            document.getElementById('download-link').style.display = 'inline';
        }
    </script>
{% endblock %}
