{% extends 'base.html' %}

{% block title %}Not Found - Riri Njaramba {% endblock %}

{% block content %}
{% include 'include/nav.html' %}
{% include 'include/sidebar.html' %}
<div class="error">
    <div class="text" id="text">
        <h3>404, NOT FOUND.</h3>
        <p>Ooops, the resource you are looking for couldn't be found. Maybe you mistyped the url?.</p>
        <button onclick="goBack()" id="back">Go Back</button>
    </div>
    <div class="footer">
        <p>&copy;2024. <span>RiriNjaramba</span>&trade;. All rights reserved.</p>
        <p>Made with <i class="fa fa-fire"></i> and <i class="fa fa-heart"></i> by Riri.</p>
    </div>
</div>
{% endblock %}
{% block js %}
    {{ super() }}
    <script>
        function goBack(){
            window.history.back()
        }
    </script>
{% endblock %}
