{% extends 'base.html' %}

{% block title %} Riri Njaramba -  {{ blog.title }}{% endblock %}

{% block content %}
{% include 'include/nav.html' %}
{% include 'include/sidebar.html' %}
<div class="blogs-page">
    <div class="items">
        <div class="blog">
            <div class="header">
                <h2>{{ blog.title }}</h2>
            </div>
            <div class="overview">
                <p>Posted by: <span>{{ blog.post_author }}</span> </p>
                <p>On: <span>{{ blog.date_created.strftime('%d-%m-%Y') }}</span></p>
                {% if blog.updated %}
                    <p>Updated On: <span>{{ blog.date_updated.strftime('%d-%m-%Y') }}</span></p>
                {% endif %}   
                <button class="submit" onclick="goBack()">Go Back</button>
            </div>
            <div class="blog-content">
                <p>
                   {{ blog.post }} 
                </p>
            </div>
        </div>
    <div class="comment">
                <div class="form">
                    <h3>Want to leave a comment?.</h3>
                    <form action="{{ url_for('.blog', title=blog.title)}}" method="post">
                        {% for field in form %}
                        {% if field.type == 'StringField' %}
                            <div class="input">
                                {{ field.label(class_='label') }}
                                {{ field(class_='input-area') }}
                            </div>
                        {% elif field.type == 'TextAreaField' %}
                            <div class="input">
                                {{ field.label(class_='label') }}
                                {{ field(class_='text-area') }}
                            </div>
                        {% elif field.type == 'RecaptchaField' %}
                            <div class="captcha">
                                {{ field(class_='captcha') }}
                            </div>
                        {% else %}
                            {{ field (class_='submit') }}
                        {% endif %}
                        {% endfor %}
                    </form>
                </div>
        </div>   
    </div>
  
</div>
{% block js %}
{{ super() }}
<script>
    function goBack(){
        window.history.back()
    }
</script>
{% endblock js %}
{% endblock %}