{% extends 'base.html' %}
{% import 'macros/_form.html' as macro %}


{% block title %} Bytes - {{ blog.title  }} {% endblock %}

{% block content %}
{% include 'include/nav.html' %}
{% include 'include/sidebar.html' %}
<div class="byte-edit">
    <div class="items">
        <div class="blog-form">
            <form action="{{ url_for('.edit_blog', blog_id=blog.id) }}" method="post" id="content-form">
                <div class="top">
                    {% for field in form if field.type == 'SubmitField' %}
                        {{ field(class_='submit-blog') }}
                    {% endfor %}
                    <h3>What's on your mind?.</h3>                    
                </div>
                <div class="fields">
                    {{ macro.render(form) }}                    
                </div>
            </form>        
        </div>
        <div class="side">
            <div class="recent">
                <h2>Recent Bytes.</h2>
                {% for post in posts %}
                    <div class="rece">
                        <span class="index">#{{ loop.index }}</span>
                        {% if post.title_html %}
                            <a href="{{ url_for('blogs.blog', title=post.title) }}">
                                {{ post.title | safe }}
                            </a>
                        {% else %}
                            <a href="{{ url_for('blogs.blog', title=post.title_html) | safe }}">
                                {{ post.title | safe }}
                            </a>
                        {% endif %}                        
                    </div>
                {% endfor %}
            </div>
            <div class="top-tag">
                <h2>Top Tags</h2>
                <div class="tops">
                    {% for tag in tags %}
                        <p>
                            <span  class="tag" data-url="{{ url_for('.blog_by_tag', tag_name=tag.name) }}" title="Click for more on {{ tag.name }}">
                                #{{ tag.name }}
                            </span>
                        </p>
                    {% endfor %}                    
                </div>
            </div>
        </div>        
    </div>
</div>
{% endblock %}
{% block js %}
    {{ super() }}
    {{ pagedown.include_pagedown() }}
    {{ moment.include_moment() }}
    <script>
        // Get a reference to the CKEditor instance
        const editor = CKEDITOR.instances['editor']; // Replace 'editor' with the ID of your CKEditor instance

        // Listen for changes in the editor content
        editor.on('change', function() {
            // Check if the editor content is empty or contains only whitespace
            const isEmpty = editor.getData().trim() === '';

            // Get a reference to the form and submission button
            const form = document.getElementById('content-form'); // Replace 'myForm' with the ID of your form
            const submitButton = document.getElementById('submit-blog'); // Replace 'submitButton' with the ID of your submission button

            // Enable or disable the submission button based on the editor content
            if (isEmpty) {
                submitButton.disabled = true; // Disable the button if the editor content is empty
            } else {
                submitButton.disabled = false; // Enable the button if the editor content is not empty
            }
        });

    </script>
    <!-- <script>
        ClassicEditor
        .create( document.querySelector('#title'), {
            toolbar: [ 'heading', '|', 'bold', 'italic']
        });
        ClassicEditor
        .create( document.querySelector( '#editor' ), {
            toolbar: {
                    items: [
                        'exportPDF','exportWord', '|',
                        'findAndReplace', 'selectAll', '|',
                        'heading', '|',
                        'bold', 'italic', 'strikethrough', 'underline', 'code', 'subscript', 'superscript', 'removeFormat', '|',
                        'bulletedList', 'numberedList', 'todoList', '|',
                        'outdent', 'indent', '|',
                        'undo', 'redo',
                        '-',
                        'fontSize', 'fontFamily', 'fontColor', 'fontBackgroundColor', 'highlight', '|',
                        'alignment', '|',
                        'link', 'uploadImage', 'blockQuote', 'insertTable', 'mediaEmbed', 'codeBlock', 'htmlEmbed', '|',
                        'specialCharacters', 'horizontalLine', 'pageBreak', '|',
                        'textPartLanguage', '|',
                        'sourceEditing'
                    ],
                    shouldNotGroupWhenFull: true
                },
                // Changing the language of the interface requires loading the language file using the <script> tag.
                // language: 'es',
                list: {
                    properties: {
                        styles: true,
                        startIndex: true,
                        reversed: true
                    }
                },
                // https://ckeditor.com/docs/ckeditor5/latest/features/headings.html#configuration
                heading: {
                    options: [
                        { model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph' },
                        { model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1' },
                        { model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2' },
                        { model: 'heading3', view: 'h3', title: 'Heading 3', class: 'ck-heading_heading3' },
                        { model: 'heading4', view: 'h4', title: 'Heading 4', class: 'ck-heading_heading4' },
                        { model: 'heading5', view: 'h5', title: 'Heading 5', class: 'ck-heading_heading5' },
                        { model: 'heading6', view: 'h6', title: 'Heading 6', class: 'ck-heading_heading6' }
                    ]
                },
                // https://ckeditor.com/docs/ckeditor5/latest/features/editor-placeholder.html#using-the-editor-configuration
                // placeholder: 'Welcome to CKEditor 5!',
                // https://ckeditor.com/docs/ckeditor5/latest/features/font.html#configuring-the-font-family-feature
                fontFamily: {
                    options: [
                        'default',
                        'Arial, Helvetica, sans-serif',
                        'Courier New, Courier, monospace',
                        'Georgia, serif',
                        'Lucida Sans Unicode, Lucida Grande, sans-serif',
                        'Tahoma, Geneva, sans-serif',
                        'Times New Roman, Times, serif',
                        'Trebuchet MS, Helvetica, sans-serif',
                        'Verdana, Geneva, sans-serif'
                    ],
                    supportAllValues: true
                },
                // https://ckeditor.com/docs/ckeditor5/latest/features/font.html#configuring-the-font-size-feature
                fontSize: {
                    options: [ 10, 12, 14, 'default', 18, 20, 22 ],
                    supportAllValues: true
                },
                // Be careful with the setting below. It instructs CKEditor to accept ALL HTML markup.
                // https://ckeditor.com/docs/ckeditor5/latest/features/general-html-support.html#enabling-all-html-features
                htmlSupport: {
                    allow: [
                        {
                            name: /.*/,
                            attributes: true,
                            classes: true,
                            styles: true
                        }
                    ]
                },
                // Be careful with enabling previews
                // https://ckeditor.com/docs/ckeditor5/latest/features/html-embed.html#content-previews
                htmlEmbed: {
                    showPreviews: true
                },
                // https://ckeditor.com/docs/ckeditor5/latest/features/link.html#custom-link-attributes-decorators
                link: {
                    decorators: {
                        addTargetToExternalLinks: true,
                        defaultProtocol: 'https://',
                        toggleDownloadable: {
                            mode: 'manual',
                            label: 'Downloadable',
                            attributes: {
                                download: 'file'
                            }
                        }
                    }
                },
                // https://ckeditor.com/docs/ckeditor5/latest/features/mentions.html#configuration
                mention: {
                    feeds: [
                        {
                            marker: '@',
                            feed: [
                                '@apple', '@bears', '@brownie', '@cake', '@cake', '@candy', '@canes', '@chocolate', '@cookie', '@cotton', '@cream',
                                '@cupcake', '@danish', '@donut', '@dragée', '@fruitcake', '@gingerbread', '@gummi', '@ice', '@jelly-o',
                                '@liquorice', '@macaroon', '@marzipan', '@oat', '@pie', '@plum', '@pudding', '@sesame', '@snaps', '@soufflé',
                                '@sugar', '@sweet', '@topping', '@wafer'
                            ],
                            minimumCharacters: 1
                        }
                    ]
                },
                // The "superbuild" contains more premium features that require additional configuration, disable them below.
                // Do not turn them on unless you read the documentation and know how to configure them and setup the editor.
                removePlugins: [
                    // These two are commercial, but you can try them out without registering to a trial.
                    // 'ExportPdf',
                    // 'ExportWord',
                    'AIAssistant',
                    'CKBox',
                    'CKFinder',
                    'EasyImage',
                    // This sample uses the Base64UploadAdapter to handle image uploads as it requires no configuration.
                    // https://ckeditor.com/docs/ckeditor5/latest/features/images/image-upload/base64-upload-adapter.html
                    // Storing images as Base64 is usually a very bad idea.
                    // Replace it on production website with other solutions:
                    // https://ckeditor.com/docs/ckeditor5/latest/features/images/image-upload/image-upload.html
                    // 'Base64UploadAdapter',
                    'RealTimeCollaborativeComments',
                    'RealTimeCollaborativeTrackChanges',
                    'RealTimeCollaborativeRevisionHistory',
                    'PresenceList',
                    'Comments',
                    'TrackChanges',
                    'TrackChangesData',
                    'RevisionHistory',
                    'Pagination',
                    'WProofreader',
                    // Careful, with the Mathtype plugin CKEditor will not load when loading this sample
                    // from a local file system (file://) - load this site via HTTP server if you enable MathType.
                    'MathType',
                    // The following features are part of the Productivity Pack and require additional license.
                    'SlashCommand',
                    'Template',
                    'DocumentOutline',
                    'FormatPainter',
                    'TableOfContents',
                    'PasteFromOfficeEnhanced',
                    'CaseChange'
                ]
			// toolbar: [ 'heading', '|', 'bold', 'italic', 'link', ]
		})
		.then( editor => {
			window.editor = editor;
		} )
		.catch( err => {
			console.error( err.stack );
		} );
        CKEDITOR.replace('editor');
    </script> -->
{% endblock %}
