{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% import 'macros/pagination.html' as pagination %}

{% block title %}Blogs - Riri NJaramba {% endblock %}

{% block content %}
{% include 'include/nav.html' %}
{% include 'include/sidebar.html' %}
<div class="blogs" id="blogs">
    <div class="items">
        <div class="blog-search">
            <h2>Blog posts.</h2>
            <div class="text">
                <ion-icon name="search-outline"></ion-icon>
                <input type="text" id="search-blog" placeholder="Search Posts.">
            </div>
        </div>
        <div class="add-blog">
            {% if current_user.can(permission.WRITE_ARTICLE) %}
            {{ wtf.quick_form(form) }}
            {% endif %}
        </div>
        <div class="posts">
            <div class="blogs">
                {% for blog in posts %}
                    <div class="blog">
                        <div class="header">
                            <h3>{{blog.title}}</h3>
                        </div>
                        <div class="blog-content">
                            <h4>What Really is MLops?.</h4>
                            <p>
                                {{blog.post | truncate(500)}} 
                                <div class="more">
                                    <a href="{{ url_for('.blog', title=blog.title) }}">Read More. </a>
                                    <ion-icon name="arrow-forward-outline"></ion-icon> 
                                </div>
                            </p>
                            <div class="tags">
                                <h5>Tags:</h5>
                                {% for tag in tags %}
                                <p class="tag" >{{ tag.name }}</p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}                
            </div>
            <div class="pagination">
                {% if prev %}
                    <a href="{{ prev }}">Prev <i class="far fa-caret"></i></a>
                {% endif %}                 
                {% if next %}
                    <a href="{{ next }}">Next</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}