{% extends 'base.html' %}
{% import 'macros/_form.html' as macro %}
{% import 'macros/pagination.html' as footer %}

{% block title %}Blogs - Riri NJaramba {% endblock %}

{% block content %}
{% include 'include/nav.html' %}
{% include 'include/sidebar.html' %}
<div class="blogs" id="blogs">
    <div class="items">
        <div class="blog-search">
            <h2>Blog posts.</h2>
            <div class="text">
                <ion-icon name="search-outline"></ion-icon>
                <input type="text" id="search-blog" placeholder="Search Posts.">
            </div>
            {% if current_user.can(permission.WRITE_ARTICLE) %}
            <div class="add">
                <a href="{{ url_for('.new_blog') }}">Add new.</a>
            </div>
            {% endif %}
        </div>
        <div class="posts">
            <div class="blogs">
                {% for blog in pagination %}
                    <div class="blog">
                        <div class="header">
                            {% if blog.title_html %}
                                <h3>{{ blog.title | safe }}</h3>
                            {% else %}
                                <h3>{{ blog.title }}</h3>
                            {% endif %}
                        </div>
                        <div class="blog-content">
                            <p>
                                {% if blog.post_html %}
                                    {{ blog.post_html | safe | truncate(500) }}
                                {% else%} 
                                    {{blog.post | truncate(500)}} 
                                {% endif %}                                
                                <div class="more">
                                    <a href="{{ url_for('.blog', title=blog.title) }}">Read More. </a>
                                    <ion-icon name="arrow-forward-outline"></ion-icon> 
                                </div>
                                <a href="{{ url_for('.blog', title=blog.title) }}#comments">
                                    <span class="label label-primary">
                                    {{ blog.comments.count() }} Comments
                                    </span>
                                </a>
                            </p>
                            <div class="tags">
                                <h5></h5>
                                {% for tag in tags %}
                                <p class="tag" title="Click for more on {{ tag.name }}">{{ tag.name }}</p>
                                {% endfor %}
                            </div>
                            <div class="posted">
                                <p>Posted: {{ moment(blog.date_created).fromNow() }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}                
            </div>
            <div class="pagination">
                <div>
                    {{ footer.pagination_widget(pagination, 'blogs.blog_index') }}
                </div>
            </div>
        </div>
    </div>
</div>
{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{{ moment.include_moment() }}
{% endblock %}
{% endblock %}
