*{
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif; 
    padding: 0;    
    margin: 0;   
}
:root{
    --white: #fff;
    --blue: #2864e7;
    --purple: #803497;
    --pink: #df4bba;
    --orange:#ff5722;
    --dark: rgba(39, 39, 39, .7);
    --black: #00000005;
    --light-blue: #2a2185;
    --dark-blue: #000b;
    --abyss: #000c18;
    --ibiza: #100319;
}
body{
    min-height: 100vh;
    background: var(--light-blue);
    overflow-x: hidden;
}
*::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}
 *::-webkit-scrollbar-track{
    background: rgb(155, 155, 155);
 }
*::-webkit-scrollbar-thumb {
    background-color: #3d3737;
    border-radius: 30px;
 }

/* =================LOADER================= */
#loader{
    position: fixed;
    background-color: var(--abyss);
    inset: 0;
    display: grid;
    place-content: center;
    z-index: -999;
    transition: opacity .6s ease-in-out, visibility .6s ease-in-out;
}
#loader.hidden{
    opacity: 0;
    visibility: hidden;
}
.load h3{
    color: var(--white);
    margin-top: 20px;
}
.spinner{
    width: 4rem;
    height: 4rem;
    border: .4rem solid var(--orange);
    border-left-color: transparent;
    border-right-color: transparent;
    border-radius: 50%;
    animation: 2s ease-in-out infinite alternate spin;
}
@keyframes spin {
    to{
        transform: rotate(3turn) scale(1.2);
    }
    
}

/* ==================Flash Msgs============= */
.messages{
    background: tomato;
    position: fixed;
    bottom: 0;
    right: 0;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    z-index: 9999;
}
.messages.clear{
    transform: translateX(300px);
    opacity: 0;
}
.help-block{
    color: #f73d05;
}
/* ===============NavBar=============== */
#sidebar {
    position: relative;
    width: 320px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    transform: translateX(-110%);
    transition: transform .8s ease-out;
    z-index: 999;
    background: var(--abyss);
    box-shadow: 0 7px 15px rgba(255, 255, 255, .4);
}

:root[sidebar-open] #sidebar {
    transform: translateX(0);
}
/* :root[sidebar-open] .home{
    margin-left: 320px;
    transition: margin-left 1s ease;
} */
/* :root[sidebar-open] .home {
    visibility: hidden;
    transition: visibility 1s ease-out;
} */
.sidebar header{
    padding: 1rem;
}
.sidebar header img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid var(--white);

}
header img::before{
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, .9);
    inset: 0;
    z-index: 1;
}
.tags {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0;
  }
  .tags h3 {
    color: var(--white);
    font-size: 1.1em;
    display: flex;
    justify-content: space-evenly; 
}
.sidebar ul{
    padding: 1rem 2rem;
}
.sidebar li{
    list-style: none;
    line-height: 65px;
    transition: padding-left 1s ease;
}
.sidebar li:hover{
    padding-left: 2rem;
}
.sidebar li:hover a{
    color: var(--blue);
    transition: color .6s ease;
}
.sidebar li:hover ion-icon{
    color: #f73d05;
    transition: color .6s ease;
}
ul li a{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none !important;
    color: var(--white);
    font-size: 1.3em;
}
a ion-icon{
    margin-left: 10px;
    font-size: 25px;
}
.sidebar ul li:last-child {
    background-color: var(--ibiza);
    width: 50px;
    height: 50px;
    padding-bottom: 3em;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    right: 0;
    bottom: 3%;
    cursor: pointer;
    box-shadow: 0 0 7px 0 rgba(255, 255, 255, .4);
    transition: transform 1s ease, background-color .5s ease;
}
.sidebar ul li:last-child a{
    font-size: 1em;
}
.sidebar ul li:last-child ion-icon{
    visibility: hidden;
    opacity: 0;
}
.sidebar ul li:last-child:hover{
    transform: translateY(-30%) scale(1.2);
    background-color: var(--dark-blue);
    position: absolute;
    bottom: 5;
    right: 0;
    box-shadow: none !important;
}
.sidebar ul li:last-child:hover ion-icon{
    visibility: visible;
    opacity: 1;
    font-size: 1em;
    color: #f73d05;
}
.sidebar ul li:last-child:hover span{
    visibility: hidden;
    opacity: 0;
}

.navigation{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}
.navigation.scrolled{
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--abyss);
    transition: background-color .5s ease-in-out;
}
#menu-button{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3.5px;
    width: 2.5rem;
    height: 2.5rem;
    background: transparent;
    border: none !important;
}
:root[sidebar-open] #menu-button{
    transform: translateX(600%);
    transition: transform 1s ease;
}
:root[sidebar-open] #menu-button:hover span{
    background-color: #f73d05;
    transition: transform 1s ease-in-out, background-color 1s ease;
}
:root[sidebar-open] #menu-button:hover span:nth-child(1){
    transform: translateY(6px) rotate(90deg);
}
:root[sidebar-open] #menu-button:hover span:last-child{
    transform: translateY(-6px) rotate(-180deg);
}
#menu-button span{
    width: 35px;
    height: 2.5px;
    background-color: var(--white);
    border-radius: 10px;
    transition: transform .3s ease-in-out, opacity .3s ease-in-out, background-color .5s ease-in-out, margin-left .8s ease-in-out;
}
:root[sidebar-btn] #menu-button span{
    background-color: red;
}
:root[sidebar-open] #menu-button span:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
}
:root[sidebar-open] #menu-button span:nth-child(2) {
    transform: scaleX(0);
    opacity: 0;
}
:root[sidebar-open] #menu-button span:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
}
@keyframes collapsible {
    0%, 80%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}
.toggle {
    display: flex;
    align-items: center;
    justify-content: center;
}
.toggle p{
    margin-left: 50px;
    padding-top: 10px;
    color: wheat;
    cursor: pointer;
    transition: color .7s ease;
}
.toggle a{
    color: wheat;
    text-decoration: none !important;
}
.toggle p:hover,
.toggle a:hover{
    color: whitesmoke;
}
.toggle p:hover span{
    color: wheat;
}
.toggle span{
    font-weight: 600;
    font-size: 1.2rem;
    color: whitesmoke;
    transition: color .7s ease;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: .5rem;
}
nav ul li:nth-child(1){
    margin-right: auto;
}
nav ul li:nth-child(1) span{
    color: #ffbf21;
    font-size: 1.2em;
    font-weight: 700;
}
nav ul li{
    list-style: none;
    margin: 0 2rem;
    padding: .3rem;
    transition: padding-left 1s ease;
}
nav ul li:hover{
    padding-left: 2rem;
}
nav li a,
nav li p{
    text-decoration: none !important; 
    color: whitesmoke;
    font-size: 1em;
    cursor: pointer;
    transition: padding-left 1s ease, color 1s ease;
}
nav li p{ 
    text-align: center;
    padding-top: .6rem;
}
nav li a:hover,
nav li p:hover{
    color: #ffbf21;
}
nav ul li:last-child{
    border-radius: 40% ;
    border: 2px solid var(--pink);
    width: 150px;
    transition: transform 1s ease, border-radius 1s ease-in-out, .5s border ease-in;
}
nav ul li:last-child:hover{
    transform: scale(.8);
    border-radius: 40%;
    padding-left: none !important;
    border: 2px solid var(--orange);
}


/* ==============Home============ */
.home {
    background: var(--black);
    opacity: 0;
    transform: translateY(-10%);
}
.home.visible{
    opacity: 1;
    transform: translateY(0);
    transition: opacity .6s ease-in-out, transform .6s ease-in-out;
}
.intro{
    position: relative;
    background: var(--ibiza);
    min-height: 70vh;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: dense;
    border-bottom-left-radius: 0%;   
}   
.intro::before {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--dark-blue);
    z-index: -1;
}
.intro .hello{
    text-align: start;
    padding: 10rem 2rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2px;
    align-items: flex-start;
    z-index: 1;
}
.greetings{
    padding-top: 8rem;
    width: 100%;
}
.out h1{
    font-size: 40px;
    font-weight: 500;
}
.out h3{
    font-size: 20px;
}
.out h3 span{
    font-size: 40px;
    font-weight: 700;
    color: var(--orange);
}
.titles h2{
    font-size: 30px;
    font-weight: 400;
    opacity: 0;
    color: var(--orange) !important;
}
.titles p{
    opacity: 0;
    font-size: 20px;
}
.hello .titles{
    position: relative;
    width: 100%;
}
.hello .title{
    top: 50%;
    left: 10%;
    width: 100%;
    position: absolute;
}
.hello .title h2{
    animation: 24s ease infinite fromRight ;
}
.hello .title p{
    animation: 24s ease infinite FadeIn;
}
.title:nth-child(1) p, 
.title:nth-child(1) h2{
    animation-delay: -6s;
}
.title:nth-child(2) p,
.title:nth-child(2) h2{
    animation-delay: -12s;
}
.title:nth-child(3) p,
.title:nth-child(3) h2{
    animation-delay: -18s;
}
.title:nth-child(4) p,
.title:nth-child(4) h2{
    animation-delay: -24s;
}
@keyframes FadeIn{
    0%, 30%{
        opacity: 0;
        transform: translateY(100%);
    }
    50%{
        opacity: 1;
        transform: translateY(0);
    }
    60%, 100%{
        opacity: 0;
        transform: translateX(-50%) scaleX(0);
    }
}
@keyframes fromRight{
    0%, 20%{
        opacity: 0;
        transform: translateX(-100%);
    }
    50%{
        opacity: 1;
        transform: translateX(0);
    }
    60%, 100%{
        opacity: 0;
        transform: translateX(20%);
    }
    
}
.scroll{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.scroll ion-icon{
    font-size: 20px;
    animation: 9s ease infinite down;
    animation-delay: 10s;
}
@keyframes down{
    0%, 60%{
        opacity: 0;
        color: #f73d05;
        transform: translateY(0%);
    }
    60%{
        opacity: 1;
        transform: translateY(400%);
    } 
    100%{
        opacity: 0;
        transform: translateY(600%);
    }
}
.scroll ion-icon:nth-child(1){
    animation-delay: -3s;
}
.scroll ion-icon:nth-child(2){
    animation-delay: -2s;
}
.scroll ion-icon:nth-child(3){
    animation-delay: -1s;
}
.me{
    position: relative;
    overflow: hidden;
}
.me::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    border-bottom-left-radius: 100%;
    transition: 2s ease-in-out;
    z-index: 19;
}
.me img{
    position: relative;
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 100%;   
    transition: 2s ease-in-out;
}

.me:hover img,
.me:hover::before{
    border-bottom-left-radius: 80%;
    border-top-left-radius: 5%;
}

/* ============ Expertise ================= */
.expertise{
    background: var(--dark);
    height: 100%;
    min-height: 80vh;
    padding: 2em 5em;
}
.expertise h1{
    color: var(--white);
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}
.expertise .flex{
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    padding: 3em 0;
}
.flex .flex-card{
    height: 100%;
    min-height: 300px;
    border: 1px solid var(--white);
    border-radius: 20px;
    box-shadow: 0 2px 5px 3px rgba(255, 255, 255, .4);
    color: var(--pink);
    text-align: center;
    padding: 5em 2em;
    cursor: pointer;
    transition: 1s ease-in-out background, border, color;
}
.flex .flex-card:hover{
    border: none;
    box-shadow: none;
    background: #2a2185;
    color: var(--white);
}


/* =============PROJECTS================= */
.projects{
    padding: 5em 3em;
    position: relative;
    background: var(--dark);
    height: 100%;
    min-height: 80vh;
}
.projects::before{
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #011418;
}
.main{
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-gap: 30px;
}
.main .pros{
    position: relative;
    padding: 20% 0;}
.pros p{
    text-align: center;
    color: var(--white) !important;
}
.pros span{
    font-size: 20px;
    color: var(--orange);
}
#controllers {
    overflow: hidden;
}
#controllers .carousel-inner img{
    width: 100%;
    height: 400px;
}
#controllers .carousel-caption{
    background: rgba(0, 0, 0, .5);    
}
#controllers .carousel-caption button{
    border: none;
    border-radius: 20px;
    padding: .5rem 1rem;
    background: var(--white);
    color: #ff5722;
    outline: none !important;
    cursor: pointer;
}
.proshow ol .slider{
    width: 50px;
    height: 50px;
    border: 2px solid var(--white);
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
.pproshow ol .slider.active{
    transform: scale(1.2);
    transition: 1s ease-in-out;
}
.proshow ol .slider::before{
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 1;
}
.proshow ol li:nth-child(1){
    background-image: url('../images/projects/landing.JPG');
}
.proshow ol li:nth-child(2){
    background-image: url('../images/projects/accounts.JPG');
}
.proshow ol li:nth-child(3){
    background-image: url('../images/projects/admin.JPG');
}

/* ================Socials Section ===================== */
.Njaramba{
    position: relative;
    height: 100%;
    min-height: 70vh;
    background: var(--dark-blue);
}
.Njaramba .more{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: dense;
}
.Njaramba .contact{
    width: 100%;
    height: 100%;
    padding: 3rem 1rem;
}
.contact h2{
    text-align: center;
    color: var(--white);
}
.contact form{
    border: 2px solid var(--dark);
    border-radius: 20px;
    box-shadow: 0 2px 7px 2px rgba(255, 255, 255, .4);
    height: 100%;
    padding: 1rem;
}
form .input{
    display: flex;
    align-items: flex-start;
    justify-content:  center;
    flex-direction: column;
}
.input .label{
    color: var(--white);
}
.input .input-area{
    width: 90%;
    height: 40px;
    padding: 0 1rem;
    color: #dad9d9;
    border: 2px solid var(--dark-blue);
    border-radius: 10px;
    outline: none !important;
    background: transparent;
}
.input .text-area{
    width: 90%;
    min-height: 200px;
    max-height: 300px;
    padding: 0 1rem;
    color: #dad9d9;
    background: transparent;
    border: 2px solid var(--dark-blue);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    outline: none !important;
}
.input-area:hover,
.text-area:hover{
    border: 2px solid #ff843f;
    transition: all 1s ease-in-out;
    transition-property: border;
}
form .button{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row-reverse;
    position: relative;   
}
form .submit{
    width: 120px;
    height: 35px;
    padding: 2px;
    border: none !important;
    border-radius: 20px;
    outline: none !important;
    box-shadow: none !important;
    background-color: var(--light-blue);
    color: #fff;
    margin-top: 20px;
    transition: background-color .6s ease-in-out;
}
form .submit:hover{
    background-color: seagreen;
    border: none !important;
    transition: background-color .5s ease-in-out;
}
form ion-icon{
    position: absolute;
    color: var(--white);
    right: 10px;
}
form .submit:hover ion-icon{
    color: #ff843f;
}
.Njaramba .socials{
    padding: 5rem;
}
.socials h2{
    color: var(--white);
    font-size: 30px;
    text-align: center;
}
.chat{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.chat img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    animation: slide 10s ease-in-out forwards;
    transition-property: transform, opacity;
}
@keyframes slide {
    0%, 30%{
        opacity: 0;
        transform: translateX(600%) rotate(1turn);
    }
    50%{
        opacity: 1;
        transform: translateX(0);
    }
    80%, 100%{
        opacity: 1;
        transform: translateX(120%);
    }
}
.chat img::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    background: rgba(0, 0, 0, .4);
    z-index: 1;
}
.email{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.email a{
    display: flex;
    align-items: baseline;
    text-decoration: none;
    color: var(--white);
    font-size: 1.2em;
    padding-top: 1rem;
    margin-left: 1rem;
}
.email a:hover{
    padding-left: 1rem;
    color: var(--blue);
    transition: padding-left 1s ease-in-out, color 1s ease-in-out;
}
.email a ion-icon{
    color: var(--white) !important;
    margin-right: 10px;
    font-size: 25px;
}
.socials .mid{
    color: tan;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    background: linear-gradient(#f73d05 0 0) left, linear-gradient(#f73d05 0 0) right;
    background-size: 45% 1px;
    background-repeat: no-repeat;
}
.socials .icons{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}
.icons li{
    list-style: none;
    margin-right: 20px;
    transition: transform 1s ease;
    animation: 5s ease-in-out forwards sliders;   
}
.icons li:hover{
    padding: 0 !important;
}
.icons li a{
    color: var(--white) !important;
    text-decoration: none !important;
    display: flex;
    flex-direction: column;
}
.icons ion-icon:hover{
    color: var(--orange);
    transform: scale(1.3);
    transition: transform .5s ease, color .5s ease;
}
@keyframes sliders{
    0%, 40%{
        opacity: 0;
        transform: translateX(-100%) scaleX(0);
    }
    60%, 100%{
        opacity: 1;
        transform: translateX(0);
    }
}
.icons li:nth-child(1){
    animation-delay: -.16s;
}
.icons li:nth-child(2){
    animation-delay: -.64s;
}
.icons li:nth-child(3){
    animation-delay: -2.56s;
}
.icons li:nth-child(3){
    animation-delay: -3s;
}
.icons li a span{
    font-size: 20px;
    color: var(--white);
    opacity: 0;
    animation: 10s infinite bounce;
    transition-property: opacity, transform;
}
@keyframes bounce {
    0%, 40%{
        opacity: 0;
        transform: translateY(500%);
    }
    50%{
        opacity: 1;
        transform: translateY(50%);
    }
    65%, 100%{
        opacity: 0;
        transform: translateY(500%) scaleX(0);
    }
}
.icons li:nth-child(1) span{
    animation-delay: -2s;
}
.icons li:nth-child(2) span{
    animation-delay: -4s;
}
.icons li:nth-child(3) span{
    animation-delay: -6s;
}
.icons li:nth-child(4) span{
    animation-delay: -8s;
}
/* .icons a{
    padding-left: 0;
}
.icons a:hover{
    padding-left: 4rem;
    transition: padding-left 1s ease;
} */
.icons a:hover  span{
    animation: none !important;
}
.Njaramba .footer{
    padding: 1rem 3rem;
}
.Njaramba hr{
    color: var(--pink) ;
}
.Njaramba footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}
.footer .heart{
    display: flex;
    align-items: center;
    justify-content: center;
}
.heart ion-icon{
    color: #f73d05;
    font-size: 20px;
}
/* ======================Blogs Page ======================= */
.blogs{
    background: var(--dark-blue);
    height: 100%;
    min-height: 100vh;
    padding: 5rem 7rem;
}
.blogs .items{
    background: var(--abyss);
    height: 100%;
    min-height: 80vh;
    padding: 1rem 2rem;
    border-radius: 10px;
}
.blog-search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--white);
}
.blog-search .text{
    display: flex;
    align-items: center;
    justify-content: center;
}
.blog-search #search-blog{
    width: 80%;
    border: 1px solid var(--white);
    border-radius:1rem;
    background: transparent;
    outline: none !important;
    color: var(--white);
    padding: .1rem 1.4rem;
    transition: width 1s ease-in-out;
}
#search-blog::placeholder{
    color: var(--orange);
}
.blog-search ion-icon{
   margin-right: -20px;
}
.blog-search #search-blog:hover{
    width: 100%;
}
 .items .blogs{
    background: none;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    text-align: justify;
}
.posts .blog{
    min-height: 300px;
    opacity: .7;
    padding: .5rem 1rem;
    border: 1px solid var(--white);
    border-radius: .6rem;
    color: var(--white);
    transition: box-shadow .5s ease-in-out, border .5s ease-in-out, opacity .5s ease-in-out;
}
.posts .blog:hover{
    opacity: 1;
    border: none;
    border-left-color: #dad9d9 !important;
    border-top-color: #f73d05;
    box-shadow: 5px 8px var(--orange);
}
.blog .overview{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.overview span{
    font-style: italic;
}
.overview button{
    width: 100px;
    height: 30px;
    border-radius: 20px;
    border: none !important;
    outline: none;
    color: var(--white);
    margin-left: auto;
    background-color: var(--pink);
    transition: background-color 1s ease-in-out, transform 1s ease-in-out;
}
.overview button:hover{
    transform: scale(1.15);
    background-color: var(--orange);
}
.blog h3{
    font-size: 25px;
}
.blog h4{
    font-size: 20px;
}
.blog p{
    font-size: 17px;
}
.blog .more{
    display: flex;
    align-items: center;
    margin-left: 2rem;
}
.more a{
    text-decoration:  none !important;
    margin-right: 3px;
}
.more ion-icon{
    transition: padding-left 1s ease-in-out, color .5s ease-in-out;
}
.more:hover ion-icon{
    color: var(--orange);
    padding-left: .4rem;
}
.blog-content .tags{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 20%;
}
.tags .tag{
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(255, 255, 255, .4);
    text-align: center;
    padding: .2rem 0;
    width: 100%;
    cursor: pointer;
    transition: background-color .5s ease-in-out, box-shadow .5s ease-in-out;
}
.tags .tag:hover{
    box-shadow: none;
    background-color: var(--ibiza);
}

.posts .pagination{
    padding: 2rem;
    text-align: center;
    place-content: center;
}
.pagination a{
    text-decoration: none;
    margin: 0 30px;
}

/* =======================Blogs Page======================= */
.blogs-page{
    background: var(--dark-blue);
    height: 100%;
    min-height: 100vh;
    padding: 5rem 10rem;
}
.blogs-page .items{
    background-color: var(--dark-blue);
    border-radius: 10px;
    height: 100%;
    min-height: 80vh;
}
.blogs-page .blog{
    text-align: justify;
    color: var(--white);
    padding: 2rem;
}
.blogs-page .blog-content{
    padding-left: 10px;
}
.blogs-page .comment{
    background-color: var(--abyss);
    padding: 1rem 5rem;
}
.form form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    color: var(--white);
}
.form .text-area{
    width: 100%;
    min-height: 200px;
    max-height: 300px;
    outline: none !important;
    padding-left: 1rem;
}
.form .captcha{
    width: 40px;
    margin-top: 10%;

}
/* ======================Login Pages====================== */
.auth{
    position: relative;
    padding: 5rem;
    background-image: linear-gradient(45deg, rgba(34, 56, 68, .8)50%, rgba(34, 234, 123, .6)50%);
    min-height: 100vh;
    height: 100%;
}
.auth .auth-form{
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.auth form{
    background: rgba(231, 230, 230, .8);
    padding: 3rem;
    min-height: 400px;
    z-index: 5;
}
form .field{
    width: 100%;
    height: 40px;
    position: relative;
    margin: 30px 0;
}
.field .input{
    width: 100%;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 5px;
    padding-left: 5px;
}
.input.errors{
    border: 2px solid red;
}
.field .label{
    margin: 0 !important;
}
.field ion-icon,
.field i{
    position: absolute;
    right: 5px;
    top: 70%;
    font-size: 2rem;
    color: #ff5722;
}
.field ion-icon.active{
    color: #df4bba;
}
.field .toggle-password{
    cursor: pointer;
}
form .remember{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 5px;
    padding-left: 1rem;
}
.remember a{
    margin-left: auto;
}
.auth .register{
    text-align: center;
    position: fixed;
    bottom: 0;
    margin-top: 30px;
}

.form .btn{
    width: 100%;
    margin-top: 4rem;
}
.btn .submit-btn{
    background-color:transparent ;
    padding: .2rem .8rem;
    outline: none;
    border: 2px solid var(--abyss);
    border-radius: 30px;
}
.submit-btn:hover{
    background-color: var(--abyss);
    color: var(--white);
    transform: scale(1.1);
    transition: background-color .5s ease-in-out, transform .8s ease-in-out;
}

.auth .unconfirmed{
    padding: 3rem;
    background: rgba(231, 230, 230, .8);
}
.unconfirmed h1,
.unconfirmed h3{
    margin: 1rem 0;
}
.unconfirmed i{
    color: var(--orange);
}
.unconfirmed .resend{
    margin-top: 3rem;
}
/*====================Error Pages =====================*/
.error{
    background-image: linear-gradient(180deg, rgba(39, 39, 39, .5), var(--pink)), url('../images/404.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding-top: 20rem;
    min-height: 100vh;
    height: 100%;
}
.error .text{
    text-align: center;
}
.error h3{
    font-size: 4em;
    font-weight: 600;
    color: #fff;
}
.error p{
    color: #fff;
    font-size: 20px;
    padding-left: 3rem;
}
.error button{
    width: 7rem;
    height: 2.5em;
    border-radius: 20px;
    outline: none !important;
    border: 1px solid var(--pink);
    color: #f73d05;
    background-image: linear-gradient(to left, var(--ibiza), var(--purple));
    margin: 20px 0;
    transition: transform .5s ease-in-out, color .5s ease-in-out;
}
.error button:hover{
    color: var(--white);
    border: none;
    transform: scale(1.1);
}

@media (max-width: 540px){
    .error{
         padding-top: 20em;
    }
   .error h3{
    font-size: 2em;
   }
   .error p{
    font-size: 15px;
   }
}


/* ==================Responsive================ */
@media (max-width: 978px){
    .expertise{
        padding: 3rem 1rem;
    }
}
@media (max-width: 540px){
    .navigation{
        padding: 0;
    }
    #menu-button{
        display: none;
    }
    .toggle p{
        margin-left: 10px;
    }
    nav {
        display: flex;
        justify-content: flex-end;
    }
    nav ul{
        display: flex;
    }
    nav ul li{
        padding: 0;
        margin: 0;
    }
    nav ul li:nth-child(2),
    nav ul li:nth-child(3){
        display: none;
    }
    nav ul li:last-child{
        border: none;
        margin-left: 10px;
    }
    .hello h1{
        text-align: center;
        font-size: 30px;
    }
    .hello h2{
        font-size: 30px;
    }
    .hello h3 span{
        text-align: center;
        font-size: 30px;
    }
    .intro{
        display: block;
        min-height: 80vh;
    }
    .intro .hello{
        position: absolute;
        padding: 5rem 1rem;
        z-index: 20;
    }
    .greetings{
        padding-top: 3rem;
    }
    .greetings .out{
        margin-bottom: 1em;
    }
    .scroll{
        margin-top: 7rem;
    }
    .me::before{
        background: rgba(0, 0, 0, .6);
        border-bottom-left-radius: 0;
    }
    .me img{
        border-bottom-left-radius: 1;
        height: 80vh;
    }
    .me:hover img{
        border-top-right-radius: 0;
    }
    .me:hover img,
    .me:hover::before{
        border-bottom-left-radius: 80%;
        border-top-left-radius: 0;
    }
    .expertise .flex{
        grid-template-columns: 1fr;
        grid-gap: 20px;
        padding: 1rem 0;
    }
    .flex-card{
        min-height: 200px;
        padding: 2rem 1em;
    }
    .flex-card p{
        margin: none;
    }

    .projects{
        padding: 0 1rem;
    }
    .projects .main{
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
    .main .pros{
        padding: 2rem;
    }
    #controllers .carousel-caption{
        left: 0;
        bottom: 0;
        right: 0;
    }
    .carousel-caption p{
        font-size: 25px;
    }
    .carousel-indicators{
        position: relative;
        margin-top: 2rem;
    }
    .proshow ol .slider{
        margin-right: .5rem;
    }
    .Njaramba .more{
        grid-template-columns: 1fr;
    }
    form .input{
        margin: 10px 0;
    }
    .input .text-area{
        min-height: 150px;
        max-height: 200px;
    }
    .Njaramba .socials{
        padding: 2rem 1rem;
    }
    .socials h2{
        font-size: 25px;
    }
    .socials img{
        height: 60px;
        width: 60px;
    }
    @keyframes slide {
        80%, 100%{
            opacity: 1;
            transform: translate3d(1rem, 0, 0);
        }
        
    }
    .icons a{
        line-height: 30px;
    }
    .icons p{
        font-size: 20px;
        margin-left: 10px;
    } 
    .icons ion-icon{
        font-size: 30px;
    }
    .Njaramba .footer{
        padding: 1rem;
    }
    footer p{
        font-size: 13px;
    }
}
@media (min-width: 600px){

}
@media (min-width: 768px) {
    
}
@media (min-width: 992px){

}
@media (min-width: 1200px){

}