{% extends 'base.html' %}

{% block title %} RiriNjaramba | Dashboard {% endblock %}

{% block content %}
{% include 'admin/include/sidebar.html' %}
<div class="dashboard">
    <div id="head">
        <div class="toggle">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="search">
            <input type="text" name="search" id="search" placeholder="Search here">
            <i class="fa fa-search"></i>            
        </div>
        <div class="prof" id="prof">
            {% if not current_user.gravatar %}
                <img src="{{ current_user.gravatar(250) }}">
            {% else %}
                <img src="{{ url_for('static', filename='images/user.png')}}">
            {% endif %}
            <div id="down">
                <span id="toggle-theme"><i class="fa fa-palette"></i> Change theme</span>
                <span id="profile" data-url="{{ url_for('auth.logout') }}"><i class="fa fa-sign-out"></i> Log out</span>
            </div>
        </div>
    </div>
    <section id="default">
        {% include 'admin/boards.html' %}
    </section>
    <section id="repo">

    </section>
    <section id="test">

    </section>
    <section id="bytens">
        <div class="tables">
            <div class="heading">
                <h2>Users <small style="font-size: 1rem !important;"><i class="fa fa-users"></i></small></h2>
                <label>
                    <input type="text" name="" id="search" placeholder="Search comments">
                    <ion-icon name="search-outline"></ion-icon>
                </label>
            </div> 
            <div class="table-main">
                <table id="comments">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Email</th>
                            <th>Location</th>
                            <th>Status</th>
                            <th>Joined</th>
                            <th>Active</th>
                            <th>Posts</th>
                            <th>Comments</th>
                            <th>Actions</th>
                        </tr>                
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr class="toBlog" title="Click to go to blog."> 
                            {% if not user.email %}
                                <td class="data"><img src="{{ user.gravatar(256) }}" alt=""></td>
                            {% else %}
                                <td class="data" style="display: flex; flex-direction: column;" 
                                title="{% if user.display_name %} {{ user.display_name}} {% endif %}">
                                    <img src="{{ url_for('static', filename='images/user.png') }}" alt="">
                                    {{ user.username }}
                                </td>
                            {% endif %}
                            <td class="data">
                                <a href="mailto:{{ user.email }}">
                                    {{ user.email }}
                                </a>
                            </td>
                            {% if user.location %}
                                <td class="data" title="{{ user.location }}">
                                    <a href="https://www.maps.google/?{{ user.location }}">{{ user.location | truncate(15, true) }}</a>
                                </td>
                            {% else %}
                                <td>
                                    <small>
                                        <i class="fa fa-info-circle"></i> 
                                        Not Available  
                                    </small>
                                </td>
                            {% endif %}  
                            {% if user.confirmed  %}
                                <td title="Confirmed">
                                    <small style="color: seagreen;"><i class="fa fa-check-circle"></i></small>
                                </td>             
                            {% else %}
                                <td title="Unconfirmed">
                                    <small style="color: brown;"><i class="fa fa-warning"></i></small>
                                </td>
                            {% endif %}
                            <td>
                                {{ (user.created).strftime('%Y-%m-%d')}}
                            </td>
                            <td>{{ (user.last_seen).strftime('%Y-%m-%d') }}</td>
                            <td>
                                {{ user.posts.post | length }}
                            </td>
                            <td> {{ user.comments.comment | length }}</td>
                            <td>
                                <div class="icons">
                                    <i class="fa fa-pen-fancy" id="edit" title="Edit" data-url="{{ url_for('.update_user', user_id=user.id) }}"></i>
                                    {% if not user.is_administrator() %}
                                        <i class="fa fa-trash-arrow-up" id="remove" title="Remove" 
                                        data-url="{{ url_for('.remove_user', user_id=user.id) }}" ></i>
                                    {% endif %}
                                    {% if user.is_administrator() %}
                                        <i class="fa fa-eye" id="view" title="View" 
                                        data-url="{{ url_for('.profile', username=current_user.username) }}"></i>
                                    {% else %}
                                        <i class="fa fa-eye" id="view" title="View Profile" 
                                        data-url="{{ url_for('.user_profile', user_id=user.id)}}"></i>
                                    {% endif %}
                                </div>
                            </td>                    
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="pagin">
                    {% if pagination %}
                        {{ paginate.pagination_widget(pagination,'.users')}}
                    {% endif %}
                </div>                        
            </div>
        </div>
        <script>
            var elements = ["#edit", "#view", "#remove"]; elements.forEach(function(element){ var related = document.querySelectorAll(element);
        
                related.forEach(function(rela){
                    rela.addEventListener('click', function(){
                        var url = rela.getAttribute("data-url");
        
                        window.location.href = url;
                    });
                });
            });
        </script>
    </section>
    <section id="macokio">
        <div class="tables">
            <div class="heading">
                <h2>Client Feedback <ion-icon name="chatbubbles-outline"></ion-icon></h2>
                <label>
                    <input type="text" name="" id="search" placeholder="Search comments">
                    <ion-icon name="search-outline"></ion-icon>
                </label>
            </div> 
            <div class="table-main">
                <table id="comments">
                    <thead>
                        <tr>
                            <th>Client</th>
                            <th>email</th>
                            <th>Feedback</th>
                            <th>Date</th>
                        </tr>                
                    </thead>
                    <tbody>
                        {% for feed in feedback %}
                        <tr class="toBlog"> 
                            <td class="data" title="{{ feed.name }}" style="display: flex; flex-direction: column; align-items: center;">
                                <img src="{{ url_for('static', filename='images/user.png') }}" alt="">
                                {{ (feed.name).split()[0] }}
                            </td>
                            <td class="data">
                                <a href="mailto:{{ feed.email }}">{{ feed.email }}</a>
                            </td>
                            <td class="data">{{ feed.feed | truncate(100, true) | safe }}</td>
                            <td class="data">{{ feed.created_at.strftime('%Y-%m-%d') }}</td>                
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="pagin">
                    {% if pagin %}
                        {{ paginate.pagination_widget(pagin,'.feed')}}
                    {% endif %}
                </div>                        
            </div>
        </div> 
    </section>
    <section id="besha">
        <div class="tables">
            <div class="heading">
                <h2>Received Quotes <ion-icon name="chatbubbles-outline"></ion-icon></h2>
                <label>
                    <input type="text" name="" id="search" placeholder="Search comments">
                    <ion-icon name="search-outline"></ion-icon>
                </label>
            </div> 
            <div class="table-main">
                <table id="comments">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Service</th>
                            <th>Description</th>
                            <th>Date</th>
                        </tr>                
                    </thead>
                    <tbody>
                        {% for quote in quotes %}
                        <tr class="toBlog" > 
        
                            <td class="data" title="{{ quote.name }}">
                                <img src="{{ url_for('static', filename='images/user.png') }}" alt="">
                                {{ (quote.name).split()[0] }}
                            </td>
                            <td class="data">
                                <a href="mailto:{{ quote.email }}">{{ quote.email }}</a>
                            </td>
                            <td class="data">{{ quote.service }}</td>
                            <td class="data">{{ quote.description | truncate(50) | safe }}</td>
                            <td class="data">{{ quote.sent.strftime('%Y-%m-%d') }}</td>  
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="pagin">
                    {% if pagin %}
                        {{ paginate.pagination_widget(pagin,'.quotes')}}
                    {% endif %}
                </div>                        
            </div>
        </div> 
    </section>
    <section id="mawoni">
        <div class="tables">
            <div class="heading">
                <h2>Blog Comments <ion-icon name="chatbubbles-outline"></ion-icon></h2>
                <label>
                    <input type="text" name="" id="search" placeholder="Search comments">
                    <ion-icon name="search-outline"></ion-icon>
                </label>
            </div> 
            <div class="table-main">
                <table id="comments">
                    <thead>
                        <tr>
                            <th>Avatar</th>
                            <th>User</th>
                            <th>Comment</th>
                            <th>Status</th>
                            <th>Timestamp</th>
                            <th>Action</th>
                        </tr>                
                    </thead>
                    <tbody>
                        {% for comment in comments %}
                        <tr class="toBlog" data-url="{{ url_for('blogs.blog', title=comment.blog.title) }}#{{ comment.id }} " 
                        title="Click to go to blog."> 
                            {% if not comment.email %}
                                <td class="data"><img src="{{ user.gravatar(256) }}" alt=""></td>
                            {% else %}
                                <td class="data"><img src="{{ url_for('static', filename='images/user.png') }}" alt=""></td>
                            {% endif %}
                            <td class="data">
                                {% if comment.author.username %}
                                    <a href="{{ url_for('users.user', username=comment.author.username)}}" title="{{ comment.author.email }}">
                                        {% if comment.author.display_name %}
                                            {{ comment.author.display_name | title }}
                                        {% else %}
                                            {{ comment.author.username }}
                                        {% endif %}                                    
                                    </a>
                                {% else %}
                                    <a href="" title="{{ comment.email }}">
                                        <span style="display: flex; flex-direction: column;">
                                            {{ comment.name }}
                                            <small style="font-size: .7em; color: brown; padding-left: .5rem;">
                                                <i class="fa fa-info-circle"></i> Not registered
                                            </small>                                        
                                        </span>                                    
                                    </a>
                                {% endif %}
                            </td>
                            <td>{{ comment.comment | truncate(100, true, '.....') }}</td>
                            {% if comment.disabled %}
                                <td class="data positive" title="Disabled"><i class="fa fa-warning"></i></td>
                            {% elif comment.disabled == 0 %}
                                <td class="data negative" title="Enabled"><i class="fa fa-check-circle"></i></td>
                            {% else %}
                                <td class="data negp" title="Not reviewed"><i class="fa fa-exclamation-circle"></i></td>
                            {% endif %}
                            <td class="data">{{ comment.date.strftime('%Y-%m-%d') }}</td>  
                            <td>
                                <div class="icons">
                                    {% if comment.disabled %}
                                    <i class=" fa fa-check-square enable" title="Enable" class="edit" 
                                    data-url="{{ url_for('.moderate_enable', id=comment.id, page=page) }}"></i>
                                    {% elif comment.disabled == False %}
                                    <i class="fa fa-thumbs-down disable" title="Disable" 
                                    data-url="{{ url_for('.moderate_disable', id=comment.id, page=page) }}" ></i> 
                                    {% else %}
                                    <i class=" fa fa-check-square enable" title="Enable" class="edit" 
                                    data-url="{{ url_for('.moderate_enable', id=comment.id, page=page) }}"></i>
                                    <i class="fa fa-thumbs-down disable" title="Disable" 
                                    data-url="{{ url_for('.moderate_disable', id=comment.id, page=page) }}" ></i> 
                                    {% endif %}
                                    <i class="fa fa-trash delete" title="Delete" 
                                    data-url="{{ url_for('.moderate_delete', id=comment.id, page=page) }}"></i>
                                </div>
                            </td>                
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="pagin">
                    {% if pagination %}
                        {{ paginate.pagination_widget(pagination,'.comments')}}
                    {% endif %}
                </div>                        
            </div>
        </div> 
    </section>
    <section id="default">
        <div class="profile">
            <div class="details">
                <div class="avatar">
                    {% if not user.gravatar %}
                        <img src="{{ user.gravatar(256) }}" alt="Avatar">
                    {% else %}
                        <i class="fa fa-user-secret" style="font-size: 4rem;"></i>
                    {% endif %}        
                </div>
                <div class="gov">
                    <span><i class="fa fa-key"></i>{{ user.username }}</span>
                    <span><i class="fa fa-user-circle"></i>{{ user.display_name }}</span>
                    <span><i class="fa fa-user-tag"></i>{{ user.role.name }}</span>
                    <span><i class="fa fa-envelope"></i>{{ user.email }}</span>
                </div>
                <div class="edi">
                    <p id="edit">Edit<i class="fa fa-pen-square"></i></p>
                </div>        
            </div>
            <div class="editable">
                <form action="{{ url_for('.profile', username=user.username)}}" method="post">
                    {{ form.hidden_tag() }}
                    {% for field in form %}
                        {% if field.widget.input_type != 'hidden' %} 
                            <div class="input">
                                {% if field.type in ('StringField', 'SelectField') %}
                                    {{ field.label }}
                                    {{ field(class_='input-area') }}
                                {% elif field.type == 'TextAreaField' %}
                                    {{ field.label }}
                                    {{ field(class_='text-area')}}
                                {% elif field.type == 'SubmitField' %}
                                    <div class="summit" style="position: absolute; right: 0; bottom: 0;">
                                    {{ field(class_='submit') }}                                
                                    </div>
                                {% else %}
                                    {{ field.label }}{{ field(title='Account status') }}
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </form>
            </div>
        </div>
        <script>
            var elements = ['.editable .input-area', '.text-area'];
            var inputs = document.querySelectorAll('.editable .input-area');
            inputs.forEach(input =>{
                input.addEventListener('click', ()=>{
                    input.classList.add('active');
                });
            });
        
            document.querySelector("form").addEventListener('click', (event)=>{
                event.preventDefault();
            });
        </script>
    </section>
</div>
{% endblock %}
{% block js %}
    {{ moment.include_moment() }}
    <script src="{{ url_for('static', filename='/js/admn.js')}}"></script>
    <script>
        var prof = document.getElementById('profile');
        var ele = document.querySelector("#prof");
        var exs = document.getElementById("down");        

        prof.addEventListener('click', function(){
            var url = document.getElementById("profile").getAttribute("data-url");
            window.location.href = url;
        });
    
        ele.addEventListener('click', ()=>{
            exs.classList.toggle('active');        
        });

    </script>
{% endblock %}
