{% extends 'base.html' %}

{% block title %} Home - Riri Njaramba {% endblock %}

{% block content %}
{% include 'include/loader.html' %}
{% include 'include/nav.html' %}
{% include 'include/sidebar.html' %}
<div class="home">
    <section class="intro">
        <div class="hello">
            <div class="greetings">
                <div class="out">
                    <h1>Hello and welcome!.</h1>
                    <h3>I am James <span>Riri Njaramba</span>, a</h3>                      
                </div>
                <div class="titles">
                    <div class="title">
                        <h2><span>Data Scientist.</span></h2>
                        <p>Who will clean and work with your data to <span>derive insights</span>.</p>
                    </div>
                    <div class="title">
                        <h2><span>MLOps Engineer.</span></h2>
                        <p>Who finds facination in <span>building and deploying</span> ML models to production.</p>
                    </div>
                    <div class="title">
                        <h2><span>IT Support.</span></h2>
                        <p>On my happy sunny days find me <span>bulding and maintaining</span> websites.</p>
                    </div>                    
                </div>
            </div>
            <div class="scroll">
                <ion-icon name="chevron-down-outline"></ion-icon>
                <ion-icon name="chevron-down-outline"></ion-icon>
                <ion-icon name="chevron-down-outline"></ion-icon>
            </div>
        </div>
        <div class="me">
            <img src="{{ url_for('static', filename='../static/images/riri.jpg')}}" alt="">
        </div>
    </section>
    <section class="expertise" id="services">
        <h1>My expertise lies within:</h1>
        <div class="flex">
            <div class="flex-card" data-tilt>
                <h2>Anything Data</h2>
                <p>You probably have a lot of data but don't what to do with it. Be it tabular, images, videos, or text data?.</p>                
            </div>
            <div class="flex-card" data-tilt>
                <h2>Anything Data</h2>
                <p>You probably have a lot of data but don't what to do with it. Be it tabular, images, videos, or text data?.</p>                
            </div>
            <div class="flex-card" data-tilt>
                <h2>Anything Data</h2>
                <p>You probably have a lot of data but don't what to do with it. Be it tabular, images, videos, or text data?.</p>                
            </div>
            <div class="flex-card" data-tilt>
                <h2>Anything Data</h2>
                <p>You probably have a lot of data but don't what to do with it. Be it tabular, images, videos, or text data?.</p>                
            </div>
            <div class="flex-card" data-tilt>
                <h2>Anything Data</h2>
                <p>You probably have a lot of data but don't what to do with it. Be it tabular, images, videos, or text data?.</p>                
            </div>
            <div class="flex-card" data-tilt>
                <h2>Anything Data</h2>
                <p>You probably have a lot of data but don't what to do with it. Be it tabular, images, videos, or text data?.</p>                
            </div>
        </div>
    </section>
    <section class="projects" id="projects">
        <div class="main">
            <div class="pros">
                <p>Having worked on various projects spanning from 
                    <span>Data Scrapping, Cleaning, Building Models</span>, to<span> production</span>
                </p>
            </div>
            <div class="proshow">
                <div id="controllers" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{{ url_for('static', filename='images/projects/landing.jpg') }}" alt="Project 1">
                            <div class="carousel-caption">
                                <h2>Hospital Management System</h2>
                                <button onclick="toHospital()">View Source Code</button>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="{{ url_for('static', filename='images/projects/accounts.jpg') }}" alt="Project 2">
                            <div class="carousel-caption">
                                <h2>Analytics Dashboards</h2>
                                <button onclick="toAnalytics()">View Files</button>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="{{ url_for('static', filename='images/projects/admin.jpg') }}" alt="Project 3">
                            <div class="carousel-caption">
                                <h2>City Health Website</h2>
                                <button onclick="toHospital()">View Source Code</button>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#controllers" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#controllers" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>

                </div>
                <ol class="carousel-indicators">
                    <li class="slider" data-target="#controllers" data-slide-to="0"></li>
                    <li class="slider" data-target="#controllers" data-slide-to="1"></li>
                    <li class="slider" data-target="#controllers" data-slide-to="2"></li>
                </ol>                
            </div>            
        </div>
    </section>
    <section class="Njaramba" id="contacts">
        <div class="more">
            <div class="contact">
                <h2>Leave a messsage.</h2>
                <form action="{{ url_for('mainapp.index') }}">
                    {{ form.hidden_tag }}
                    {% for field in form %}
                        {% if field.widget.input_type != 'hidden' %}
                            {% if field.type == 'StringField' %}
                            <div class="input">
                                {{ field.label(class_='label') }}
                                {{ field(class_='input-area') }}
                            </div>
                            {% elif field.type == 'TextAreaField' %}
                            <div class="input">
                                {{ field.label(class_='label') }}
                                {{ field(class_='text-area') }}
                            </div>
                            {% else %}
                                <div class="button">
                                    {{ field(class_='submit') }}
                                    <ion-icon name="send-outline"></ion-icon>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}                
                </form>
            </div>
            <div class="socials">
                <h2>You can reach me through: </h2>
                <div class="chat">
                    <img src="{{ url_for('static', filename='images/riri.jpg')}}" alt="Riri Njaramba">
                    <div class="email">
                        <a href="mailto: jamesriri03@gmail.com" target="_top">
                            <span>
                                <ion-icon name="mail-outline"></ion-icon>
                            </span>
                            Email
                        </a>                        
                        <a href="tel:+254758630202">
                            <span>
                                <ion-icon name="call-outline"></ion-icon>
                            </span>
                            +254 758-630-202
                        </a>                        
                    </div>
                </div>
                <div class="mid">
                    <p>OR</p>
                </div>
                <ul class="icons">
                    <li>
                        <a href="https://github.com/Njaramba-Riri">
                            <ion-icon name="logo-github"></ion-icon>
                            <span><ion-icon name="arrow-up-outline"></ion-icon></span>
                        </a>                        
                    </li>
                    <li>
                        <a href="https://linkedin.com/in/riri-njaramba/">
                            <ion-icon name="logo-linkedin"></ion-icon>
                            <span><ion-icon name="arrow-up-outline"></ion-icon></span>
                        </a>                          
                    </li>
                    <li>
                        <a href="https://twitter.com/icy_riri">
                            <ion-icon name="logo-twitter"></ion-icon>
                            <span><ion-icon name="arrow-up-outline"></ion-icon></span>
                        </a>                        
                    </li>
                    <li>
                        <a href="https://medium.com/@jamesriri03">
                            <ion-icon name="logo-medium"></ion-icon>
                            <span><ion-icon name="arrow-up-outline"></ion-icon></span>
                        </a>                        
                    </li>
                </ul>
            </div>            
        </div>
        <div class="footer">
            <hr>
            <footer>
                <div class="copy">
                    <p>2024.All rights reserved&copy;</p>
                </div>
                <div class="heart">
                    <p>Made with love by Riri</p>
                    <p><ion-icon name="heart"></ion-icon></p>
                </div>
            </footer>             
        </div>  
    </section>
</div>
{% endblock %}