{% extends 'base.html' %}

{% block title %}Thank me Later - Riri Njaramba{% endblock %}

{% block content %}
{% include 'include/nav.html' %}
{% include 'include/sidebar.html' %}
<div class="resources">
    <h2>Nothing to see here, just some of the most helpful resources over the net.</h2>
    <div class="found">
        <h3>Here goes some resources.</h3>
    </div>
    <div class="suggest">
        <h3>Having cool resources?, share them.</h3>
    </div>
    <hr>
    <div class="footer">
        <p>&copy;All rights reserved.2024</p>
        <p>Made with <i class="fa fa-heart"></i> and <i class="fa fa-fire"></i> by Riri.</p>
    </div>
</div>
{% endblock %}
