<p>Hello, {{ user.username }}, </p>

<p>
    We've just recieved a request to reset your password,
    kindly <a href="{{ url_for('auth.password_reset', token=toke, _external=True)}}">click here</a> 
</p>

<p>Alternatively, you can copy and paste the following link to your browser's address bar:</p>
<p>{{ url_for('auth.password_reset', token=token, _external=True) }}"></p>

<p>If you have not requested to reset your password kindly ignore this email.</p>

<p>Sincerley,</p>
<p>Riri Njaramba</p>

<p>
    <small>
        Note: If you're having trouble accessing the website kindly don't shy away 
        from reaching out to me through this same email
    </small>
</p>